@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out;
  scroll-behavior: smooth;
}

/* App.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* Customize the background color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
}
.preloader-content {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* You can add additional styles for your loading percentage text or other elements */
.preloader-content p {
  font-size: 350px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  opacity: 0.5;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  height: 100vh;
  background-color: #2d4059;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  height: 100vh;
  background-color: #2d4059;
}

.product {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 3rem;
  height: 100vh;
  background-color: #2d4059;
}

.contact {
  display: flex;
  width: 100%;
  padding: 2rem 3rem;
  height: 100vh;
  background-color: #2d4059;
  justify-content: space-between;
}

.foot {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  height: 100%;
  background-color: #2d4059;
}

/* contoh */

.bottom-nav {
  display: none;
}
/* contoh */

.footer {
  display: flex;
  width: 98%;
  justify-content: end;
  padding-bottom: 20px;
}

.footer .rightfooter {
  color: #ffd460;
  text-align: end;
}
.footer .rightfooter .readMore {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #ffd460;
  transition: color 0.3s;
}

.footer .rightfooter .readMore::after {
  content: "";
  display: block;
  width: 0; /* Start with zero width */
  height: 1px;
  background-color: #ffd460;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s; /* Add a smooth transition effect */
}

.footer .rightfooter .readMore:hover::after {
  width: 100%; /* Expand the width to 100% on hover */
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rightfooter p {
  width: fit-content;
  font-size: 15px;
  font-family: "Kaisei Decol", sans-serif;
}

.header .logo img {
  width: 100px;
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
  cursor: pointer;
  z-index: 2;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #ffd460;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-right: 5px;
  list-style-type: none;
  text-transform: uppercase;
  border: 1px solid #ffd460;
  border-radius: 20px;
  padding: 2px 17px;
}

.navbar a {
  text-decoration: none;
  color: #ffd460;
  font-family: "Raleway", sans-serif;
}

.navbar li:hover {
  background-color: #ffd460;
  color: #2d4059;
  transition: background-color 0.5s ease-in;
}

/* .navbar a:hover {
  color: #2d4059;
  transition: color 0.5s;
} */

.navbar .home,
.navbar .about-navbar,
.navbar .product-navbar,
.navbar .contact-navbar {
  margin-right: 10px;
  background-color: none;
  color: #ffd460;
  font-size: 15px;
}

.content {
  width: 100%;
}

.content {
  padding-left: 190px;
}

.minajoText {
  color: #ffd460;
  text-transform: uppercase;
  font-size: 15vw;
  font-family: "Raleway", sans-serif;
  /* margin-top: 50px; */
}

.indoText {
  color: #ffd460;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-family: "Kaisei Decol", sans-serif;
  margin-left: 10px;
  margin-top: -20px;
}

.ab {
  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  margin-top: 40px;
  width: 50%;
  margin-left: auto; /* Add this line to move it to the right */
  margin-right: 90px; /* You can adjust this margin based on your preference */
}

.abc {
  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  margin-top: 10px;
  width: 350px;
  margin-left: auto; /* Add this line to move it to the right */
  margin-right: 90px; /* You can adjust this margin based on your preference */
  font-size: 10px;
}

.about-content {
  margin-top: 50px;
  width: 100%;
  color: #ffd460;
}

.about-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
}

.about-content p {
  width: 90%;
  font-family: "Kaisei Decol", sans-serif;
  font-size: 30px;
}

.button-about {
  display: flex;
  justify-content: flex-end;
}

.button-about-content {
  display: flex;
  flex-direction: row;
  border: 1px solid #ffd460;
  border-radius: 20px;
  width: 125px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.button-about-content:hover {
  background-color: #ffd460;
  color: #2d4059;
  transition: background-color 0.7s;
}

.button-about-content p {
  margin-right: 5px;
}

.button-about a {
  text-decoration: none;
  color: #ffd460;
}

.swiper-product-wrap {
  display: flex;
  flex-direction: row;
}

.product-content {
  width: 100%;
  margin-top: 20px;
  font-family: "Kaisei Decol", sans-serif;
}

.product .product-title p {
  font-family: "Kaisei Decol", sans-serif;
  font-size: 100px;
  color: #ffd460;
  font-weight: bold;
}

.product-content p {
  font-size: 20px;
  width: 80%;
  color: #ffd460;
  font-weight: 200;
}

.swiper {
  width: 1050px;
  height: 350px;
  background: #000;

  border-radius: 10px;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

/* contact */

.contact-content p {
  font-family: "Raleway", sans-serif;
  font-size: 300px;
  color: #ffd460;
  font-weight: bold;
  font-family: "Kaisei Decol", sans-serif;
  text-transform: uppercase;
  margin-top: -60px;
}

.contact-content p:nth-child(2) {
  font-family: "Raleway", sans-serif;
  font-size: 300px;
  color: transparent;
  font-weight: bold;
  font-family: "Kaisei Decol", sans-serif;
  text-transform: uppercase;
  margin-top: -290px;
  -webkit-text-stroke: 2px #ffd460;
}

.contact-content p:nth-child(3) {
  font-family: "Raleway", sans-serif;
  font-size: 300px;
  color: #ffd460;
  font-weight: bold;
  font-family: "Kaisei Decol", sans-serif;
  text-transform: uppercase;
  margin-top: -290px;
  margin-left: 260px;
}

.contact-form {
  background-color: transparent;
  /* border: 1px solid #ffd460;
  border-radius: 20px; */
  width: 500px;
  height: 610px;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.contact-form .input-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact-form .input-text .emphone {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.contact-form input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #ffd460;
  border-width: 2px;
  color: #ffd460;
  font-size: 20px;
  font-family: "Kaisei Decol", sans-serif;
}

.contact-form textarea {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  border-color: #ffd460;
  height: 200px;
  color: #ffd460;
  font-size: 20px;
  font-family: "Kaisei Decol", sans-serif;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ffd460;
  font-size: 15px;
  font-family: "Kaisei Decol", sans-serif;
  opacity: 0.8;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
}

.contact-form button {
  background-color: transparent;
  border-radius: 20px;
  height: 50px;
  font-family: "Kaisei Decol", sans-serif;
  color: #ffd460;
  font-size: 20px;
  border-color: #ffd460;
  border-width: 1px;
  border-radius: 20px;
  margin-top: 20px;
  width: 500px;
  height: 50px;
}

.marquee {
  position: relative;
  background-color: #ffd460;
  color: #2d4059;
  /* padding: 30px 0; */
  font-weight: 600;
  font-size: 100px;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
}

.marquee__inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  gap: 30px;
}

.marquee__part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}

.foot-content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.foot-contact {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  gap: 1rem;
  color: #ffd460;
  width: 450px;
}

.foot-contact h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  gap: 10px;
}

.icons svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.icons p {
  margin: 0;
  font-family: "Kaisei Decol", sans-serif;
  font-size: 16px;
  color: #ffd460;
}

.icons a {
  margin: 0;
  font-family: "Kaisei Decol", sans-serif;
  font-size: 16px;
  color: #ffd460;
  text-decoration: none;
}

.foot-kiri {
  display: flex;
  flex-direction: column;
}

.foot-bottom {
  display: flex;
  flex-direction: column;
}

.line-bawah {
  width: 150px;
  height: 1px;
  background-color: #ffd460;
  margin-top: 20px;
}

.bahasa {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}

.bahasa a {
  text-decoration: none;
  color: #ffd460;
  font-size: 20px;
  padding: 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.line-bahasa {
  width: 1px;
  height: 15px;
  background-color: #ffd460;
  margin-top: 5px;
}

.foot-bottom a {
  text-decoration: none;
  color: transparent;
  font-size: 30px;
  padding: 0 0 10px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  -webkit-text-stroke-color: #ffd460;
  -webkit-text-stroke-width: 0.5px;
}

.copy-right {
  display: flex;
  flex-direction: row;
  margin-top: 180px;
  justify-content: space-between; /* Menggunakan space-between agar elemen berada di kiri dan tengah */
}

.foot-copyrights {
  margin: auto; /* Center the element horizontally */
  text-align: center;
}

.foot-copyrights p {
  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  font-size: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: transparent;
  border: 1px solid #ffd460;
  color: #ffd460; /* Change this to your preferred text color */
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  display: none; /* Initially hide the button */
  transition: background-color 0.3s, color 0.3s;
}

.back-to-top:hover {
  background-color: #ffd460; /* Change this to your preferred hover background color */
  color: #333; /* Change this to your preferred hover text color */
}

@media screen and (max-width: 768px) {
  .App {
    padding: 1rem;
  }

  .preloader-content p {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    opacity: 0.5;
  }

  .indoText {
    margin-top: 5px;
  }

  .about {
    height: 100vh;
  }

  .about-content p {
    width: 70%;
    font-family: "Kaisei Decol", sans-serif;
    font-size: 2vh;
  }

  .product {
    height: 100%;
    gap: 2rem;
    display: flex;
  }

  .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100vh;
    background-color: #2d4059;
    z-index: 9999;
  }

  .navbar li {
    list-style-type: none;
    text-transform: uppercase;
    border: 0;
    font-size: 50px;
    padding: 10px 0;
    font-weight: 700;
  }

  .navbar a {
    text-decoration: none;
    color: #ffd460;
    font-family: "Raleway", sans-serif;
  }

  .navbar.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .header .logo img {
    width: 75px;
  }

  .content {
    padding-left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .rightfooter p {
    width: fit-content;
    font-size: 10px;
  }

  .footer .rightfooter .readMore {
    font-size: 10px;
  }

  .about-content h1 {
    font-size: 65px;
  }

  .about-content p {
    margin-top: 10px;
    font-size: 15px;
  }
  /* product */
  .product .product-title p {
    font-size: 50px;
    text-align: center;
  }

  .swiper-product-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .swiper-product-wrap .product-content p {
    margin-top: 20px;
  }

  .swiper {
    width: 300px;
    height: 350px;
    background: #000;
    margin-top: 50px;
    border-radius: 10px;
  }

  /* contact */
  .contact-content {
    display: flex;
    flex-direction: row;
  }

  .contact-content p {
    font-size: 30px;
    margin: 0;
  }

  .contact-content p:nth-child(2) {
    font-size: 30px;
    margin: 0;
    -webkit-text-stroke-width: 0;
    color: #ffd460;
  }

  .contact-content p:nth-child(3) {
    font-size: 30px;
    margin: 0;
  }

  .contact-form {
    background-color: transparent;
    width: 300px;
    height: 610px;
    margin-top: 50px;
  }

  .contact-form .input-text .emphone {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-form .input-text .emphone input:nth-child(2) {
    margin-top: 50px;
  }

  .contact-form input {
    border-width: 1px;
  }

  .contact-form textarea {
    border-width: 1px;
  }

  .contact-form button {
    width: 300px;
    height: 40px;
    font-size: 15px;
  }

  .contact-form textarea {
    height: 100px;
  }

  /* fooyter */
  .foot-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .foot-contact {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 0;
    gap: 1rem;
    color: #ffd460;
  }

  .foot-contact a {
    width: 200px;
  }

  .copy-right {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .copy-right p {
    font-size: 10px;
  }

  /* bottom bar */
}
