@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 100vh;
  background-color: #2d4059;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 100vh;
  background-color: #2d4059;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer .leftfooter {
  display: flex;
  align-items: flex-end;
  color: #ffd460;
  width: 100%;
}

.leftfooter button {
  background-color: transparent;
  color: #ffd460;
  width: 20px;
  height: fit-content;
  border: none;
  font-family: "Raleway", sans-serif;
}

.footer .rightfooter {
  width: 40%;
  display: flex;
  flex-direction: column;

  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #ffd460;
  transition: color 0.3s;
}

.footer .rightfooter .readMore {
  font-size: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #ffd460;
  transition: color 0.3s;
}

.footer .rightfooter .readMore::after {
  content: "";
  display: block;
  width: 0; /* Start with zero width */
  height: 1px;
  background-color: #ffd460;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s; /* Add a smooth transition effect */
}

.footer .rightfooter .readMore:hover::after {
  width: 100%; /* Expand the width to 100% on hover */
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rightfooter p {
  width: fit-content;
  font-size: 15px;
}

.header .logo img {
  width: 100px;
}

.menu-icon {
  display: none; /* Hide the menu icon by default */
  cursor: pointer;
  z-index: 2;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #ffd460;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin-right: 5px;
  list-style-type: none;
  text-transform: uppercase;
  border: 1px solid #ffd460;
  border-radius: 20px;
  padding: 2px 17px;
}

.navbar a {
  text-decoration: none;
  color: #ffd460;
  font-family: "Raleway", sans-serif;
}

.navbar li:hover {
  background-color: #ffd460;
  color: #2d4059;
  transition: background-color 0.7s;
}

/* .navbar a:hover {
  color: #2d4059;
  transition: color 0.5s;
} */

.navbar .home,
.navbar .about,
.navbar .product,
.navbar .contact {
  margin-right: 10px;
  background-color: none;
  color: #ffd460;
  font-size: 15px;
}

.content {
  width: 100%;
}

.content {
  padding-left: 190px;
}

.minajoText {
  color: #ffd460;
  text-transform: uppercase;
  font-size: 15vw;
  font-family: "Raleway", sans-serif;
  /* margin-top: 50px; */
}

.indoText {
  color: #ffd460;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-family: "Kaisei Decol", sans-serif;
  margin-left: 10px;
}

.ab {
  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  margin-top: 40px;
  width: 50%;
  margin-left: auto; /* Add this line to move it to the right */
  margin-right: 90px; /* You can adjust this margin based on your preference */
}

.abc {
  color: #ffd460;
  font-family: "Kaisei Decol", sans-serif;
  margin-top: 10px;
  width: 350px;
  margin-left: auto; /* Add this line to move it to the right */
  margin-right: 90px; /* You can adjust this margin based on your preference */
  font-size: 10px;
}

.change {
  display: flex;
  flex-direction: row;
  color: #ffd460;
  margin-left: 90px; /* Add this line to move it to the right */
  margin-right: auto;
  margin-top: -20px;
}

.change a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.change p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/* .ball {
  background-color: #ffd460; 
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  z-index: 1;
} */

@media screen and (max-width: 768px) {
  .App {
    height: 98vh;
  }

  .navbar {
    display: none; /* Hide the navbar by default on smaller screens */
    flex-direction: column;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #2d4059;
  }

  .navbar.show {
    display: flex; /* Show the navbar when the "show" class is added */
  }

  .menu-icon {
    display: block; /* Show the menu icon on smaller screens */
  }

  .header .logo img {
    width: 75px;
  }

  .content {
    padding-left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .rightfooter p {
    width: fit-content;
    font-size: 10px;
  }

  .footer .rightfooter {
    width: 150%;
    display: flex;
    flex-direction: column;

    color: #ffd460;
    font-family: "Kaisei Decol", sans-serif;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #ffd460;
    transition: color 0.3s;
  }

  .footer .rightfooter .readMore {
    font-size: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #ffd460;
    transition: color 0.3s;
  }
}
